<!-- user-info.component.html -->
<!-- <div class="user-info">
    <h2>Mes informations</h2>
    <form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required type="email">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="phone" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" required type="password">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="userInfoForm.invalid">Mettre à jour</button>
    </form>
  </div>
   -->



   <!-- user-info.component.html -->
<div class="user-info">
    <h2>Mes informations</h2>
    <form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required type="email">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="phoneNumber" required>
      </mat-form-field>

        <!-- <div class="phone-form">
            <div class="country-code">
                <mat-form-field appearance="fill">
                <mat-label>Code du pays</mat-label>
                <mat-select >
                    <mat-option *ngFor="let country of countries" [value]="country.code">
                    {{ country.name }} ({{ country.code }})
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            
            <div class="phone-number">
                <mat-form-field appearance="fill">
                <mat-label>Numéro de téléphone</mat-label>
                <input matInput  placeholder="1 23 45 67 89" appPhoneNumberFormatter>
                </mat-form-field>
            </div>
        </div> -->
        <button mat-raised-button color="primary" type="submit" [disabled]="userInfoForm.invalid">Mettre à jour</button>
    </form>
  
    <h2>Modifier le mot de passe</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
      <mat-form-field appearance="fill">
        <mat-label>Ancien mot de passe</mat-label>
        <input matInput formControlName="oldPassword" required type="password">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput formControlName="newPassword" required type="password">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Confirmer le nouveau mot de passe</mat-label>
        <input matInput formControlName="confirmNewPassword" required type="password">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Changer le mot de passe</button>
    </form>
  </div>
  

<!-- <div class="phone-form">

    <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Code du pays</mat-label>
          <mat-select >
            <mat-option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }} ({{ country.code }})
            </mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <mat-label>Numéro de téléphone</mat-label>
          <input matInput placeholder="1 23 45 67 89">
        </mat-form-field>
      
        <button mat-raised-button color="primary" type="submit">Soumettre</button>
      </form>

</div> -->
  


<!-- phone-number.component.html -->



<!-- phone-number.component.html -->
<!-- <form [formGroup]="phoneForm" (ngSubmit)="onSubmit()" class="phone-form">
    <div class="country-code">
      <mat-form-field appearance="fill" class="country-code-field">
        <mat-label>Code du pays</mat-label>
        <mat-select formControlName="countryCode">
          <mat-option *ngFor="let country of countries" [value]="country.code">
            {{ country.name }} ({{ country.code }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div class="phone-number">
      <mat-form-field appearance="fill">
        <mat-label>Numéro de téléphone</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="1 23 45 67 89">
      </mat-form-field>
    </div>
  
    <button mat-raised-button color="primary" type="submit">Soumettre</button>
  </form>
   -->