.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centrer verticalement sur la hauteur de la vue */
  }
  
  .code-input-card {
    /* max-width: 400px; */
    padding: 20px;
    text-align: center;
    align-items: center;
  }
  
  .illustration {
    width: 200px; /* Largeur souhaitée */
    height: auto; /* Hauteur automatique pour conserver les proportions originales */
    
  }
  