<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>À propos</h4>
          <ul>
            <li><a href="#">Notre histoire</a></li>
            <li><a href="#">Nos valeurs</a></li>
            <li><a href="#">Carrières</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Support</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Assistance clientèle</a></li>
            <li><a href="#">Politique de retour</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Catégories</h4>
          <ul>
            <!-- <li><a href="#">Vêtements</a></li>
            <li><a href="#">Accessoires</a></li>
            <li><a href="#">Nouveautés</a></li> -->
            <li *ngFor="let category of categories"><a href="category/{{category.id}}"> {{category.name}}</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Suivez-nous</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  