

<!-- <mat-card>
    <mat-card-content>
      <div class="header">
        <mat-form-field class="filter-field">
          <input matInput placeholder="Filtrer par client, méthode de paiement, etc.">
        </mat-form-field>
        <button mat-raised-button color="primary" class="add-button">Ajouter une commande</button>
      </div>
    </mat-card-content>
  </mat-card>
   -->

   <h2>Liste des commandes</h2>

   <div class="card-container">

   <!-- <mat-card>
    <mat-card-content>
      <div class="header">
        <mat-form-field class="filter-field">
          <input matInput placeholder="Filtrer par client, méthode de paiement, etc.">
        </mat-form-field>
        <mat-form-field class="filter-field">
          <mat-label>Statut</mat-label>
          <mat-select>
            <mat-option value="confirmed">Confirmé</mat-option>
            <mat-option value="pending">En attente</mat-option>
            <mat-option value="shipped">Expédié</mat-option>
            <mat-option value="delivered">Livré</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="filter-field">
          <input matInput placeholder="ID du produit">
        </mat-form-field>
        <mat-form-field class="filter-field">
          <input matInput placeholder="Nom d'utilisateur">
        </mat-form-field>
        <button mat-raised-button color="primary" class="add-button">Ajouter une commande</button>
      </div>
    </mat-card-content>
  </mat-card> -->

    <mat-card>
      <mat-card-content>
        <div class="header">
          <form [formGroup]="filterForm">
            <mat-form-field class="filter-field">
              <mat-label>Statut</mat-label>
              <mat-select formControlName="status">
                <mat-option value="CONFIRMED">Confirmé</mat-option>
                <mat-option value="CREATED">En attente</mat-option>
                <mat-option value="SHIPPED">Expédié</mat-option>
                <mat-option value="DELIVERED">Livré</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-field">
              <input matInput placeholder="Date de commande" formControlName="orderDate">
            </mat-form-field>

            <!-- <mat-form-field class="filter-field">
              <input matInput placeholder="Méthode de paiement" formControlName="paymentMethod">
            </mat-form-field> -->

            <mat-form-field class="filter-field">
              <mat-label>Méthode de paiement</mat-label>
              <mat-select formControlName="paymentMethod">
                <mat-option value="CREDIT_CARD">Carte de crédit</mat-option>
                <mat-option value="PAYPAL">PayPal</mat-option>
                <mat-option value="BANK_TRANSFER">Virement bancaire</mat-option>
                <mat-option value="CASH_ON_DELIVERY">Paiement à la livraison</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field class="filter-field">
              <input matInput placeholder="Méthode de livraison" formControlName="deliveryMethod">
            </mat-form-field> -->

            <mat-form-field class="filter-field">
              <mat-label>Méthode de livraison</mat-label>
              <mat-select formControlName="deliveryMethod">
                <mat-option value="HOME_DELIVERY">Livraison à domicile</mat-option>
                <mat-option value="IN_STORE_PICKUP">Ramassage en magasin</mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field class="filter-field">
              <input matInput placeholder="Numéro de commande" formControlName="orderNumber">
            </mat-form-field>
            <mat-form-field class="filter-field">
              <input matInput placeholder="Email de l'utilisateur" formControlName="userEmail">
            </mat-form-field>
          </form>
          <button mat-raised-button color="primary" class="add-button">Ajouter une commande</button>
        </div>
      </mat-card-content>


      <mat-card-actions>
        <button mat-button color="primary"(click)="resetFilters()">Effacer les filtres</button>
      </mat-card-actions>
      <!-- <mat-card-footer>
        <button mat-button color="primary"(click)="resetFilters()">Effacer les filtres</button>
      </mat-card-footer> -->
    </mat-card>

    
  </div>

  <div class="paginator-container">
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="currentPage"  [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
  </div>

  <div class="card-container">
  <mat-card>
    <mat-card-content>
      <mat-table [dataSource]="orders$" class="mat-elevation-z8">
        <!-- Columns -->
        <ng-container matColumnDef="orderId">
          <mat-header-cell *matHeaderCellDef> ID de commande </mat-header-cell>
          <mat-cell *matCellDef="let order"> {{ order.id }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="clientName">
          <mat-header-cell *matHeaderCellDef> Nom du client </mat-header-cell>
          <mat-cell *matCellDef="let order"> {{ order.user.firstName }} {{ order.user.lastName }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email du client </mat-header-cell>
          <mat-cell *matCellDef="let order"> {{ order.user.email }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="pickupMethod">
          <mat-header-cell *matHeaderCellDef> Méthode de récupération </mat-header-cell>
          <mat-cell *matCellDef="let order"> {{ order.deliveryMethod }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="paymentMethod">
          <mat-header-cell *matHeaderCellDef> Méthode de paiement </mat-header-cell>
          <mat-cell *matCellDef="let order"> {{ order.paymentMethod }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef> Date de création </mat-header-cell>
          <mat-cell *matCellDef="let order"> {{ order.orderDate | date }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Statut </mat-header-cell>
          <!-- <mat-cell *matCellDef="let order"> {{ order.status }} </mat-cell> -->
          <mat-cell *matCellDef="let order">
            <strong [style.color]="order.status | statusColor ">{{ order.status }}</strong>
          </mat-cell>
          
        </ng-container>


        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let order">
              <button mat-icon-button color="primary" (click)="viewOrder(order)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button  (click)="editOrder(order)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteOrder(order)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
      </mat-table>
    </mat-card-content>
  </mat-card>

</div>
  


  <!-- <div class="container">
    <div class="header">
      <mat-form-field class="filter-field">
        <input matInput placeholder="Rechercher...">
      </mat-form-field>
      <button mat-raised-button color="accent" class="add-button">Ajouter une commande</button>
    </div>
    
    <div class="table-container">
      <table mat-table [dataSource]="orders" class="mat-elevation-z8">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
          <td mat-cell *matCellDef="let order"> {{ order[column] }} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
   -->