/* .analytics-container {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .chart-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  canvas {
    width: 100% !important;
    height: 300px !important;
  }
   */












   /* .analytics-container {
    padding: 40px;
    background-color: #f8f9fa;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-size: 2em;
  }
  
  .chart-container {
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }
  
  .chart-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  canvas {
    width: 100% !important;
    height: 400px !important;
  }
  
  .chart-title {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
  }
   */

   /* styles.css */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.analytics-container {
  padding: 40px;
  background-color: #f8f9fa;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
  font-size: 2em;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.chart-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

canvas {
  width: 100% !important;
  height: 300px !important;
}

.chart-title {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.mat-card {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.mat-card-title {
  font-size: 1.5em;
  color: #333;
}

.mat-card-content {
  font-size: 2em;
  color: #666;
}
