
<!-- 

   <div class="edit-order-container">
    <mat-card class="edit-order-card">
      <mat-card-header>
        <mat-card-title>Modifier la commande</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="editOrderForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>ID de commande</mat-label>
              <input matInput formControlName="orderNumber" >
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Nom du client</mat-label>
              <input matInput formControlName="clientName" >
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Email du client</mat-label>
              <input matInput formControlName="clientEmail" >
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Méthode de paiement</mat-label>
              <mat-select formControlName="paymentMethod">
                <mat-option value="CREDIT_CARD">Carte de crédit</mat-option>
                <mat-option value="PAYPAL">PayPal</mat-option>
                <mat-option value="BANK_TRANSFER">Virement bancaire</mat-option>
                <mat-option value="CASH_ON_DELIVERY">Paiement à la livraison</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Méthode de livraison</mat-label>
              <mat-select formControlName="deliveryMethod">
                <mat-option value="HOME_DELIVERY">Livraison à domicile</mat-option>
                <mat-option value="IN_STORE_PICKUP">Ramassage en magasin</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Statut</mat-label>
              <mat-select formControlName="status">
                <mat-option value="CONFIRMED">Confirmé</mat-option>
                <mat-option value="CREATED">En attente</mat-option>
                <mat-option value="SHIPPED">Expédié</mat-option>
                <mat-option value="DELIVERED">Livré</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Adresse de livraison</mat-label>
              <textarea matInput formControlName="shippingAddress"></textarea>
            </mat-form-field>
          </div>
          <div class="button-group">
            <button mat-raised-button color="primary" type="submit" [disabled]="editOrderForm.invalid">Enregistrer</button>
            <button mat-raised-button color="warn" (click)="onCancel()">Annuler</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
   -->


<!-- 
   <div class="edit-order-container">
    <mat-card class="edit-order-card">
      <mat-card-header>
        <mat-card-title>Modifier la commande</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="editOrderForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>ID de commande</mat-label>
              <input matInput formControlName="orderNumber" >
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Nom du client</mat-label>
              <input matInput formControlName="clientName">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Email du client</mat-label>
              <input matInput formControlName="clientEmail">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Méthode de paiement</mat-label>
              <mat-select formControlName="paymentMethod">
                <mat-option value="CREDIT_CARD">Carte de crédit</mat-option>
                <mat-option value="PAYPAL">PayPal</mat-option>
                <mat-option value="BANK_TRANSFER">Virement bancaire</mat-option>
                <mat-option value="CASH_ON_DELIVERY">Paiement à la livraison</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Méthode de livraison</mat-label>
              <mat-select formControlName="deliveryMethod">
                <mat-option value="HOME_DELIVERY">Livraison à domicile</mat-option>
                <mat-option value="IN_STORE_PICKUP">Ramassage en magasin</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Statut</mat-label>
              <mat-select formControlName="status">
                <mat-option value="CONFIRMED">Confirmé</mat-option>
                <mat-option value="CREATED">En attente</mat-option>
                <mat-option value="SHIPPED">Expédié</mat-option>
                <mat-option value="DELIVERED">Livré</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Adresse de livraison</mat-label>
              <textarea matInput formControlName="shippingAddress"></textarea>
            </mat-form-field>
          </div>
  
          <div formArrayName="products" class="product-list">
            <div *ngFor="let product of products.controls; let i = index" [formGroupName]="i" class="product-item">
              <mat-card class="product-card">
                <mat-card-header>
                  <mat-card-title>{{ product.get('productName')?.value }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Nom du produit</mat-label>
                      <input matInput formControlName="productName" >
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Quantité</mat-label>
                      <input matInput formControlName="quantity" type="number">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Prix</mat-label>
                      <input matInput formControlName="productPrice" type="number" >
                    </mat-form-field>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="warn" (click)="removeProduct(i)">Retirer</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
  
          <div class="button-group">
            <button mat-raised-button color="primary" type="submit" [disabled]="editOrderForm.invalid">Enregistrer</button>
            <button mat-raised-button color="warn" type="button" (click)="onCancel()">Annuler</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div> -->



 




  <div class="edit-order-container">
    <mat-card class="edit-order-card">
      <mat-card-header>
        <mat-card-title>Modifier la commande</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="editOrderForm" >
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>ID de commande</mat-label>
              <input matInput formControlName="orderNumber" >
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Nom du client</mat-label>
              <input matInput formControlName="clientName">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Email du client</mat-label>
              <input matInput formControlName="clientEmail">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Méthode de paiement</mat-label>
              <mat-select formControlName="paymentMethod">
                <mat-option value="CREDIT_CARD">Carte de crédit</mat-option>
                <mat-option value="PAYPAL">PayPal</mat-option>
                <mat-option value="BANK_TRANSFER">Virement bancaire</mat-option>
                <mat-option value="CASH_ON_DELIVERY">Paiement à la livraison</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Méthode de livraison</mat-label>
              <mat-select formControlName="deliveryMethod">
                <mat-option value="HOME_DELIVERY">Livraison à domicile</mat-option>
                <mat-option value="IN_STORE_PICKUP">Ramassage en magasin</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Statut</mat-label>
              <mat-select formControlName="status">
                <mat-option value="CONFIRMED">Confirmé</mat-option>
                <mat-option value="CREATED">En attente</mat-option>
                <mat-option value="SHIPPED">Expédié</mat-option>
                <mat-option value="DELIVERED">Livré</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Adresse de livraison</mat-label>
              <textarea matInput formControlName="shippingAddress"></textarea>
            </mat-form-field>
          </div>
  
          <!-- <div formArrayName="products" class="product-list">
            <mat-table [dataSource]="products.controls" class="mat-elevation-z8">
              <ng-container matColumnDef="productName">
                <mat-header-cell *matHeaderCellDef>Nom du produit</mat-header-cell>
                <mat-cell *matCellDef="let product"> {{ product.get('productName').value }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef>Quantité</mat-header-cell>
                <mat-cell *matCellDef="let product" [formGroupName]="product">
                  <input matInput formControlName="quantity" type="number">
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="productPrice">
                <mat-header-cell *matHeaderCellDef>Prix</mat-header-cell>
                <mat-cell *matCellDef="let product"> {{ product.get('productPrice').value | currency }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let product; let i = index">
                  <button mat-icon-button color="warn" (click)="removeProduct(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div> -->



          <div class="product-section">
            <h3>Produits de la commande</h3>
            <mat-table [dataSource]="orderItems" class="mat-elevation-z8">
              <ng-container matColumnDef="productName">
                <mat-header-cell *matHeaderCellDef>Produit</mat-header-cell>
                <mat-cell *matCellDef="let item">{{ item.productName }}</mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef>Quantité</mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <input matInput [value]="item.quantity" type="number">
                </mat-cell>
              </ng-container>


              <ng-container matColumnDef="productPrice">
                <mat-header-cell *matHeaderCellDef>Prix</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.productPrice | currency : 'EUR' }} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <button mat-icon-button color="warn" (click)="removeProduct(item)">
                    <mat-icon>remove_shopping_cart</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
  
       
          <div class="add-product-section">
            <h3>Ajouter un produit</h3>
            <mat-form-field appearance="outline">
              <mat-label>ID du produit</mat-label>
              <input matInput  [formControl]="newProductId" placeholder="Entrez l'ID du produit">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addProduct()">Ajouter un produit</button>
          </div>

          <div class="button-group">
            <button mat-raised-button color="primary" type="submit"  (click)="onSubmit()" [disabled]="editOrderForm.invalid">Enregistrer</button>
            <button mat-raised-button color="warn" type="button" (click)="onCancel()">Annuler</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  