<!-- reset-password.component.html -->
<div class="reset-password-container">
    <mat-card class="reset-password-card">
      <div class="reset-password-header">
        <img src="/assets/illustrations/password-reset.svg" alt="Reset Password" class="reset-password-image">
        <h2>Réinitialiser votre mot de passe</h2>
        <p>Veuillez entrer votre adresse email pour recevoir un lien de réinitialisation du mot de passe.</p>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="resetPasswordForm.get('email')!.hasError('required')">
            L'email est requis
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('email')!.hasError('email')">
            Veuillez entrer un email valide
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" class="full-width">Envoyer le lien de réinitialisation</button>
      </form>
    </mat-card>
  </div>
  