/* settings.component.css */

/* .container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }


  /* settings.component.css */

.container {
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    /* height: 100vh; */
    /* overflow-y: auto; */
  }

  
   
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .info-section, .password-section, .export-section {
    margin-bottom: 40px;
  }
  
  .info-section h3, .password-section h3, .export-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .info {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
  }
  
  .export-button {
    background-color: #2196f3;
    color: #fff;
    border: none;
  }
  