<!-- update-customer.component.html -->

<div class="container">
    <h2 class="title">Modifier les détails du client</h2>
    <div *ngIf="customer" class="form-container">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput [(ngModel)]="customer.firstName" name="firstName" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nom de famille</mat-label>
          <input matInput [(ngModel)]="customer.lastName" name="lastName" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput [(ngModel)]="customer.username" name="username" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="customer.email" name="email" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Téléphone</mat-label>
          <input matInput [(ngModel)]="customer.telephone" name="telephone" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Adresse</mat-label>
          <textarea matInput [(ngModel)]="customer.address" name="address" required></textarea>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="customer.password" name="password" required>
        </mat-form-field>
      </div>
      <div class="button-group">
        <button mat-raised-button color="primary" (click)="updateCustomer()">Mettre à jour</button>
        <button mat-raised-button color="warn" (click)="cancelUpdate()">Annuler</button>
      </div>
    </div>
  </div>
  