
.body{
    width: calc(100% - 5rem);
    margin-top: 5075rem;
    margin-left :5rem;
    z-index:0;
    position: relative;
    top:0;
    padding:3rem;
    margin-top:5rem;
    background:white;
    height: 100%;
    transition: all .3s ease;
  
  }
  
  .body-trimmed{
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
  
  }
  .body-md-screen{
      width: calc(100% - 5rem);
      margin-left: 5rem;
  
  }