/* .photo-visualizer {
    text-align: center;
  }
  
  .main-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .main-photo {
    max-width: 100%;
    max-height: 500px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .thumbnail-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  
  .thumbnail.active {
    border-color: #007bff;
  }
   
  */


  .photo-visualizer {
    text-align: center;
    margin: 20px auto;
  }
  
  .main-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .main-photo {
    width: 600px; /* Augmentation de la largeur */
    height: 550px; /* Augmentation de la hauteur */
    /* border: 2px solid #ddd; */
    border-radius: 10px;
    /* object-fit: cover; */
    object-fit: contain;
  }
  
  .thumbnail-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
  }
  
  .thumbnail:hover {
    border-color: #007bff;
  }
  