<h1 mat-dialog-title>Ajouter une nouvelle catégorie</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Nom de la catégorie</mat-label>
    <input matInput [(ngModel)]="categoryName" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="categoryDescription" required></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button (click)="onAdd()" cdkFocusInitial>Ajouter</button>
</div>
